$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body{
  background-color: #f8f8f8;
}

// Header
#header-wrapper{
  background-color: #252423;
  width: 100%;
  height: auto;
}

#logo-wrapper{
  background-size: cover;
  background-repeat: no-repeat;
}

#logo{
  background: url("../images/dw_logo_small.png");
  width: 136px;
  height: 58px;
  //width: auto;
  z-index: 1;
}

//End of Header

#intro{
  background: url(../images/hero.jpg) no-repeat center center;
  width: 100%;
  height: 333px;
  z-index: 0;
}

.spaceOutVertically{
  padding-top: 15px;
  padding-bottom: 15px;
}

#intro-header{
  float:left;
}

#intro-mangopay{
  float:right;
  height: 330px;
  background-color: white;
}


//main body
.img-background{
  background-color: white;
}

#img_on_top{
  position: relative;

}

#regulatedByEu{
  position: absolute;
  bottom:35px;
  left: 20px;
}

.pay-creditcard{
  margin-right: 20px;
}

#mehr_section{
  background-color: white;
}

#mehr_section h2{
  text-transform: uppercase;

}

#allen-geraten{
  background-color: #d5d5d5;
}

#allen-geraten h4{
  text-transform: uppercase;
}

// Puckdaddy Section
#puckdaddy{
  background-color: #ededed;
}

#puckdaddy-img{
  border: 4px solid white;
  -moz-border-radius:145px;
  -webkit-border-radius: 145px;
}

//Es lohnt sich Section
.bluebg{
  background-color: #cde8ed;
  height: 140px;
  position: relative;
}

.bluebg-align-middle{
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

//Buttons
#btn-registration{
  background-color: #1590a8;
  color: white;
}

//Fixed Button
#btn-feedback{
  background-color: black;
  color: white;
  position:fixed;
  width:100px;
  left: 0px;
  top: 50%;
  transform: rotate(90deg);
  transform-origin: 0 100%;
  z-index: 100;
}
// End Header
#circle-section{
  height: 250px;
}

.circle-wrapper{
  position: relative !important;
  height: 200px;
}

#line{
  width: 100%;
  height: 1px;
  top:50%;
  background-color: #cccccc;
  position: absolute;
  z-index: -100;

}

#grid-container {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  position: relative;
}


.item {
  width: 33.333%;
  height: 150px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.circle {
  background: #f8f8f8;
  border-radius: 200px;
  border: 1px solid #1590a8 ;
  color: #1590a8;
  height: 50px;
  font-weight: bold;
  width: 50px;
  top:33%;
  left:40%;
  display: table;
  position: absolute;
}
.circle p {
    position: absolute;
  top:15px;
  left:21px;
  z-index: 150;
}

.circle-text{
  position: absolute;
  bottom: 0px;
  left:20%;
}
//
//.circle-1{
//   height: 50px;
//   width: 50px;
//   border: 1px solid #1590a8;
//   background-color: white;
//   -moz-border-radius:50px;
//   -webkit-border-radius: 50px;
//   top:-25px;
//   left:15%;
//   position: absolute;
//   z-index: 59;
// }
//.circle-2{
//  height: 50px;
//  width: 50px;
//  border: 1px solid #1590a8;
//  background-color: white;
//  -moz-border-radius:50px;
//  -webkit-border-radius: 50px;
//  top:-25px;
//  left:48%;
//  position: absolute;
//  z-index: 59;
//}
//.circle-3{
//  height: 50px;
//  width: 50px;
//  border: 1px solid #1590a8;
//  background-color: white;
//  -moz-border-radius:50px;
//  -webkit-border-radius: 50px;
//  top:-25px;
//  left:82%;
//  position: absolute;
//  z-index: 59;
//}
//
//#circle-1-text{
//
//
//.block {
//  text-align: center;
//  vertical-align: middle;
//}
//.block-sm{
//  text-align: center;
//  vertical-align: middle;
//}
//.circle-sm{
//  position: absolute;
//  background: red;
//  border-radius: 200px;
//  color: white;
//  height: 50px;
//  font-weight: bold;
//  width: 50px;
//  display: table;
//  margin: 20px auto;
//  position: absolute;
//  top:-75px;
//  left:10%;
//
//}
//.circle-sm-2{
//  position: absolute;
//  background: red;
//  border-radius: 200px;
//  color: white;
//  height: 50px;
//  font-weight: bold;
//  width: 50px;
//  display: table;
//  margin: 20px auto;
//  position: absolute;
//  top:-75px;
//  left:40%;
//
//}
//.circle-sm-3{
//  position: absolute;
//  background: red;
//  border-radius: 200px;
//  color: white;
//  height: 50px;
//  font-weight: bold;
//  width: 50px;
//  display: table;
//  margin: 20px auto;
//  position: absolute;
//  top:-75px;
//  left:70%;
//
//}
////.circle {
////  background: red;
////  border-radius: 200px;
////  color: white;
////  height: 50px;
////  font-weight: bold;
////  width: 50px;
////  display: table;
////  margin: 20px auto;
////  position: absolute;
////  top:-45px;
////  left:40%;
////}
////.circle p {
////  vertical-align: middle;
////  display: table-cell;
////}
//
//
//.circle-text-sm{
//  margin-top:30px;
//  width: 50px;
//}
////.circle-wrapper{
////  position: relative;
////  width: 100%;
////}
////
////.circle {
////  background-color: rgba(204, 0, 102, 0);
////  border: 1px solid #1590a8;
////  background-color: white;
////  top:33%;
////  left:44%;
////  height: 50px;
////  width: 50px;
////  -moz-border-radius:50px;
////  -webkit-border-radius: 50px;
////  position: absolute;
//// }
////.circle-text{
////  color: #1590a8;
////  font-weight: 900;
////  position: absolute;
////  top:33%;
////  left: 41%;
////}
////
////.line{
////  position: absolute;
////  width: 100%;
////  height: 100px;
////  top:50%;
////  background-color: #d5d5d5;
////  //display: inline-block;
////  //background: green;
////  //height: 0.5em;
////  //width: 300px;
////  //position: relative;
////  //margin-bottom: 1.0em;
////}
//


#nutze{
  background-color: white;
  height: 180px;

}

#nutze h2{
  text-transform: uppercase;
}

//media queries
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

  #header-wrapper{
    background-color: #252423;
    width: 100%;
    height: 130px;
  }


  #logo{
    background: url("../images/dw_logo_big.png");
    width: 300px;
    height: 130px;
    margin: 0 auto;
    //width: auto;
    z-index: 1;
  }

  .bluebg-align-middle-space-out{
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .doNotShowInSmallScreen{
    display: none;
  }

}


