$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body{
  background-color: #f8f8f8;
}

// Header
#header-wrapper{
  background-color: #252423;
  width: 100%;
  height: auto;
}

#logo-wrapper{
  background-size: cover;
  background-repeat: no-repeat;
}

#logo{
  background: url("../images/dw_logo_small.png");
  width: 136px;
  height: 58px;
  //width: auto;
  z-index: 1;
}

//End of Header

//landing - intro
#intro{
  background: url(../images/hero.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: auto ;
  z-index: 10;
}

.spaceOutVertically{
  padding-top: 15px;
  padding-bottom: 15px;
}
#intro-mangopay{
  height: 330px;
  background-color: white;
}

//Fixed Button on the left of the screen
#btn-feedback{
  background-color: black;
  color: white;
  position:fixed;
  width:100px;
  left: 0px;
  top: 50%;
  transform: rotate(90deg);
  transform-origin: 0 100%;
  z-index: 100;
}
// End landing - intro

//main body
.img-background{
  background-color: white;
}

.toUppercase{
  text-transform: uppercase;
}

#img_on_top{
  position: relative;

}

#regulatedByEu{
  position: absolute;
  bottom:35px;
  left: 20px;
}
// end main body

//credit cards section
.pay-creditcard{
  margin-right: 20px;
}

#mehr_section{
  background-color: white;
  height: 130px;
}

#mehr_section h2{
  text-transform: uppercase;

}
// end credit cards section

//allen-geraten section

#allen-geraten{
  background-color: #d5d5d5;
}

#allen-geraten h2{
  text-transform: uppercase;
}

#devices-image{
  margin:0 auto;
}

// end of allen geraten section

// Puckdaddy Section
#puckdaddy{
  background-color: #ededed;
  height: 230px;
  padding-top: 20px;
}

#puckdaddy-img{
  border: 4px solid white;
  -moz-border-radius:145px;
  -webkit-border-radius: 145px;
}

//end of puckdaddy-img

//Es lohnt sich Section
.bluebg{
  background-color: #cde8ed;
  height: 140px;
  position: relative;
}

.bluebg-align-middle{
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

//End of Es lohnt sich Section

//Buttons
#btn-registration{
  background-color: #1590a8;
  color: white;
}

#circle-section{
  height: 280px;
}

.circle-wrapper{
  position: relative !important;
  height: 200px;
}

#line{
  width: 100%;
  height: 1px;
  top:50%;
  background-color: #cccccc;
  position: absolute;
  z-index: -100;

}

#grid-container {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  position: relative;
}


.item {
  width: 33.333%;
  min-height: 180px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.circle {
  background: #f8f8f8;
  border-radius: 200px;
  border: 1px solid #1590a8 ;
  color: #1590a8;
  height: 50px;
  font-weight: bold;
  width: 50px;
  top:40%;
  left:40%;
  display: table;
  position: absolute;
}
.circle p {
  position: absolute;
  top:15px;
  left:21px;
  z-index: 150;
}

.circle-text{
  position: absolute;
  top:150px;
  bottom: 0;
  left:15%;
  white-space: pre-wrap;
}
#nutze{
  background-color: white;
  height: 180px;

}

#nutze h2{
  text-transform: uppercase;
}

//media queries
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

  #header-wrapper{
    background-color: #252423;
    width: 100%;
    height: 130px;
  }
  #logo{
    background: url("../images/dw_logo_big.png");
    width: 300px;
    height: 130px;
    margin: 0 auto;
    //width: auto;
    z-index: 1;
  }

  #intro-mangopay{
    margin-top: 150px;

  }

  #line{
    width: 100%;
    height: 1px;
    top:13%;
    background-color: #cccccc;
    position: absolute;
    z-index: -100;

  }

  #circle-section{
    height: 180px;
  }

  .circle {
    background: #f8f8f8;
    border-radius: 200px;
    border: 1px solid #1590a8 ;
    color: #1590a8;
    height: 50px;
    font-weight: bold;
    width: 50px;
    top:0;
    left:40%;
    display: table;
    position: absolute;
  }



  .item{
    min-height: 180px;
  }

  .circle-text{
    position: absolute;
    top:50px;
    bottom: 0;
    left:15%;
    white-space: pre-wrap;
  }

  .bluebg-align-middle-space-out{
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .doNotShowInSmallScreen{
    display: none;
  }

}

